
# ===========================
# Maven
# ===========================
/target/

# ===========================
# TestNG Reports
# ===========================
/test-output/

# ===========================
# Eclipse IDE
# ===========================
.project
.classpath
.settings/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Operating System Files
# ===========================
.DS_Store
Thumbs.db